.who-am-i {
  padding: $unit__normal;

  .image-wrapper {
    position: relative;
    justify-self: center;
    align-self: center;
    max-width: 25rem;
    height: auto;
    z-index: 1;
    box-shadow: -30px -30px #000;
  }

  .image {
    width: 100%;
  }
}

.bio {
  padding: $unit__normal;
  align-self: center;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $unit__medium;

    &__title {
      text-align: right;
      span {
        position: relative;
        display: block;
        text-transform: uppercase;
        font-size: $unit__huge;
        font-weight: 900;
        z-index: 1;

        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          content: "";
          background: $color__tertiary;
          width: 105%;
          height: 30%;
          z-index: -1;
        }
      }
    }
  }
}

.bio__detail {
  line-height: 1.6;
  width: 90%;
  p {
    margin-bottom: $unit__medium;
    font-weight: 500;
  }
}
