.header-section {
  position: relative;
}

.section-who-am-i {
  background: lighten($color__secondary, 40%);
  width: 100%;
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
