@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr/repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr/repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr/repeat(4, 1fr);
}

.grid__12-cols {
  grid: 1fr/repeat(12, 1fr);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000;
}

#root {
  position: relative;
  margin: auto;
  width: 120rem;
}

.svg {
  fill: #fff;
  stroke: #fff;
  width: 3.2rem;
  height: 3.2rem;
}

.svg-dots {
  position: absolute;
  top: 20%;
  left: 0;
  width: 12.8rem;
  height: 12.8rem;
  z-index: 5;
}

.svg-waves {
  width: 12.8rem;
  height: 12.8rem;
  fill: #777777;
}

.navigation {
  padding-right: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
  transition: all 0.3s;
}
.nav-link:link, .nav-link:visited {
  color: #ffffff;
  border-bottom: 2px solid transparent;
}
.nav-link:hover, .nav-link:active {
  border-bottom: 2px solid #fef200;
}

.selected:link {
  border-bottom: 2px solid #fef200;
}

.who-am-i {
  padding: 1.6rem;
}
.who-am-i .image-wrapper {
  position: relative;
  justify-self: center;
  align-self: center;
  max-width: 25rem;
  height: auto;
  z-index: 1;
  box-shadow: -30px -30px #000;
}
.who-am-i .image {
  width: 100%;
}

.bio {
  padding: 1.6rem;
  align-self: center;
}
.bio__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}
.bio__header__title {
  text-align: right;
}
.bio__header__title span {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 900;
  z-index: 1;
}
.bio__header__title span::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  content: "";
  background: #fef200;
  width: 105%;
  height: 30%;
  z-index: -1;
}

.bio__detail {
  line-height: 1.6;
  width: 90%;
}
.bio__detail p {
  margin-bottom: 3.2rem;
  font-weight: 500;
}

.works {
  gap: 1.6rem;
}

.work {
  cursor: pointer;
  position: relative;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}
.work .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
}
.work .image {
  width: 100%;
}
.work .work-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(25rem);
  background: rgba(254, 242, 0, 0.6);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.work .work-detail__title {
  text-transform: capitalize;
}
.work .work-detail__desc {
  margin: 0.8rem auto;
  text-align: center;
}
.work:hover .work-detail {
  transform: translateY(0);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 10rem;
  background: #5d5d5d;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 65rem;
  background: url("../assets/hero-image.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio {
  padding-top: 6.4rem;
  padding-left: 12.8rem;
  z-index: 5;
}
.portfolio__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 200;
  line-height: 0.9;
}
.portfolio__name .name {
  font-weight: 700;
  display: block;
}
.portfolio__profession {
  margin: 1.6rem auto;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 900;
  display: inline-block;
  padding: 1.6rem 6.4rem;
  background: #fef200;
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 30%;
  min-height: 75rem;
  min-height: 100%;
  background: #3d3d3d;
}

.header-section {
  position: relative;
}

.section-who-am-i {
  background: #c3c3c3;
  width: 100%;
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-works {
  padding: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.my-work__title {
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: 900;
}
.my-work__sub-title {
  position: relative;
  margin-left: 9.6rem;
  margin-bottom: 1.6rem;
  z-index: 1;
}
.my-work__sub-title::after {
  position: absolute;
  top: 0;
  left: -0.5rem;
  display: block;
  content: "";
  background: #fef200;
  width: 100%;
  height: 60%;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
